.Dinner {
  width: 44%;
  margin: auto;
}

.Dinner h1 {
  color: #0062a7;
}

.addfood {
  display: inline-block;
  margin-right: 1%;
}

hr.solid {
  border-top: 1px solid rgb(20, 20, 20);
}

.mealName {
  display: inline-block;
}
