.Snacks {
  width: 44%;
  margin: auto;
  padding-bottom: 5%;
}

.Snacks h1 {
  color: #0062a7;
}

.addfood {
  display: inline-block;
  margin-right: 1%;
}

hr.solid {
  border-top: 1px solid rgb(20, 20, 20);
}
